body{
    background-image: url(https://static.toiimg.com/thumb/msid-79382022,width-1070,height-580,imgsize-194630,resizemode-75,overlay-toi_sw,pt-32,y_pad-40/photo.jpg);
    background-size: cover;
}  
/* button{
    margin-left: 260px;
    margin-bottom: 200px;
} */

.a1{
    display: flex;
}
.hw{
    width: 90%;
}